<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/test.css")" rel="stylesheet" type="text/css" />
   

    @Html.Partial("Menu")

</head>

<body>
    @RenderBody()
</body>

</html>